# System and IDE
.DS_Store
.vscode/
.idea/
.env

# Node / Web
node_modules/
web/*.js
web/*.js.map

# SSL Certificates
*.pem

# Generated Assets
thumbnails/
collect.json
lookup.json
generated/


# Test and Debug
*_test.html
test_*.png
*.log
debug/
